
<div class="card p-3 mt-4">
    <div class="flex-column  align-items-center text-align-center pt-2 mt-2">
        <div>
            <h3 class="text-secondary ml-1 border-bottom pb-2"><%= content %></h3>
        </div>
        <div class="p-2 m-2">
            <h6 class="pt-2"><%= wish_property %></h6>
        </div>
    </div>
</div>
