<% @tag_list.each do |list| %>

    <% if list.wishes.where(isCompleted:true).count != 0  %>
       <p><%=link_to list.tag_name,wishes_path(tag_id:list.id)%><%= list.wishes.where(isCompleted:true).count %></p>
    <% end %>

<% end  %>


<% if params[:tag_id]  %>
  <h1><%= @tag.tag_name %>のタグ</h1>
<% end  %>